<div class="cycle-slideshow">
  <%= image_tag("1080p/1.jpg") %>
  <%= image_tag("1080p/2.jpg") %>
  <%= image_tag("1080p/3.jpg") %>
  <%= image_tag("1080p/4.jpg") %>
  <%= image_tag("1080p/5.jpg") %>
  <%= image_tag("1080p/6.jpg") %>
  <%= image_tag("1080p/7.jpg") %>
  <%= image_tag("1080p/8.jpg") %>
  <%= image_tag("1080p/9.jpg") %>
  <%= image_tag("1080p/10.jpg") %>
  <%= image_tag("1080p/11.jpg") %>
  <%= image_tag("1080p/12.jpg") %>
  <%= image_tag("1080p/13.jpg") %>
  <%= image_tag("1080p/14.jpg") %>
  <%= image_tag("1080p/15.jpg") %>
  <%= image_tag("1080p/16.jpg") %>
  <%= image_tag("1080p/17.jpg") %>
  <%= image_tag("1080p/18.jpg") %>
  <%= image_tag("1080p/19.jpg") %>
  <%= image_tag("1080p/20.jpg") %>
</div>

<script type="text/javascript">
  $('.cycle-slideshow').imagefit({
      ignore: '.ignore',
      mode: 'inside',
      force : 'true',
      halign : 'center',
      valign : 'middle',
      onStart: function (index, container, imagecontainer) {
      /* Some code */
      },
      onLoad: function (index, container, imagecontainer) {
          /* Some code */
      },
      onError: function (index, container, imagecontainer) {
      /* Some code */
      }
  });
</script>
