<div class="cycle-slideshow">
  <%= image_tag("480p/1.jpg") %>
  <%= image_tag("480p/2.jpg") %>
  <%= image_tag("480p/3.jpg") %>
  <%= image_tag("480p/4.jpg") %>
  <%= image_tag("480p/5.jpg") %>
  <%= image_tag("480p/6.jpg") %>
  <%= image_tag("480p/7.jpg") %>
  <%= image_tag("480p/8.jpg") %>
  <%= image_tag("480p/9.jpg") %>
  <%= image_tag("480p/10.jpg") %>
  <%= image_tag("480p/11.jpg") %>
  <%= image_tag("480p/12.jpg") %>
  <%= image_tag("480p/13.jpg") %>
  <%= image_tag("480p/14.jpg") %>
  <%= image_tag("480p/15.jpg") %>
  <%= image_tag("480p/16.jpg") %>
  <%= image_tag("480p/17.jpg") %>
  <%= image_tag("480p/18.jpg") %>
  <%= image_tag("480p/19.jpg") %>
  <%= image_tag("480p/20.jpg") %>
</div>
