<div class="cycle-slideshow">
  <%= image_tag("720p/1.jpg") %>
  <%= image_tag("720p/2.jpg") %>
  <%= image_tag("720p/3.jpg") %>
  <%= image_tag("720p/4.jpg") %>
  <%= image_tag("720p/5.jpg") %>
  <%= image_tag("720p/6.jpg") %>
  <%= image_tag("720p/7.jpg") %>
  <%= image_tag("720p/8.jpg") %>
  <%= image_tag("720p/9.jpg") %>
  <%= image_tag("720p/10.jpg") %>
  <%= image_tag("720p/11.jpg") %>
  <%= image_tag("720p/12.jpg") %>
  <%= image_tag("720p/13.jpg") %>
  <%= image_tag("720p/14.jpg") %>
  <%= image_tag("720p/15.jpg") %>
  <%= image_tag("720p/16.jpg") %>
  <%= image_tag("720p/17.jpg") %>
  <%= image_tag("720p/18.jpg") %>
  <%= image_tag("720p/19.jpg") %>
  <%= image_tag("720p/20.jpg") %>
</div>
